<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head')%>
</head>
<body class="d-flex flex-column vh-100">
    <%- include('partials/navbar')%>
    <main class="container mt-5">
        <%- include('partials/flash')%>
        <div class="container mt-5">
            <div class="row">
                <div class="col-md-6 offset-md-3">
                    <div class="card shadow">
                        <div class="card-body">
                            <h5 class="card-title">Find Ticket</h5>

                            <!-- ticket lookup form -->
                            <form action="/findTicket" method="POST">
                                <div class="mb-3">
                                    <label class="form-label" for="ticketId">Enter Ticket ID</label>
                                    <input class="form-control" type="text" id="ticketId" name="ticketId" required>
                                </div>
                                <button type="submit" class="btn btn-primary">Find Ticket</button>
                            </form>
                        
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <%- include('partials/footer')%>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"
        integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/"
        crossorigin="anonymous"></script>
</body>
</html>
